form {
  line-height: 30px;
  color: #777;
  background: #4CAF50;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container-form {
  width: 70%;
  margin: 0 auto;
  position: relative;
}


#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#timer_form_id {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}



#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}





#contact input[type="button"],
#contact button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #202020;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="button"]:hover,
#contact button:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact input[type="button"]:active,
#contact button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}


#timer_form_id input[type="text"],
#timer_form_id input[type="date"] {
  width: 50%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  float:right;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#timer_form_id input[type="button"],
#timer_form_id button {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #202020;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#timer_form_id input[type="button"]:hover,
#timer_form_id button:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#timer_form_id input[type="button"]:active,
#timer_form_id button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}



::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


.find_out_more {
  float: right;
	background-color:#202020;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#FFF;
	/*font-family:Arial;
	font-size:15px;*/
	padding:6px 24px;
	text-decoration:none;
}
.find_out_more:hover {
	background-color:#43A047;
  text-decoration:none;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  
}
.find_out_more:active {
	position:relative;
	top:1px;
  text-decoration:none;
}
