.post__comments {
  width: 80%;
  margin-top: 4rem;
}

.comment__content-wrapper {
  font-size: 90%;
}

.comment__message{
  font-size: 90%;
}

.tile__header {
  margin-bottom: 2rem;
}


hr {
      border-left: none;
      border-right: none;
      border-bottom: none;
}

#comment-form-title {
  margin-bottom: 1rem;
}

#comment-ul {
  padding-left: 0px;

}

#comment-ul li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

#comment-form-name{
  width: 49%;
}

#comment-form-email {
  float:right;
  width: 49%;
}

#comment-form-message {
  width: 100%;
}

#comment-form-submit {
  padding: 8px 15px 8px 15px;
}
