.form-style-1 {
 /*It's empty*/
}

ul.form-style-1 {
    padding-left: 0px;
    margin-top: 3rem;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 .field-divided{
    width: 39%;
}

.form-style-1 .field-textarea{
    width: 79%;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    padding: 8px 15px 8px 15px;
}

.form-style-1 .required{
    color:red;
}

.comment__content-wrapper {
  font-size: 90%;
}

.comment__message{
  font-size: 90%;
}

.tile__header {
  margin-bottom: 2rem;
}

.js-comments {
  margin-top: 3rem;
}

.comment-form-title {
  margin-bottom: 1rem;
}
