---
layout: page
title: GitHub Repos
description: "Versions."
fullwidth: true
on_sidebar_bottom: true
---
<!-- https://api.github.com/users/yalov/repos -->

<p class="post-date">{{site.time | date_to_long_string}}</p>

<table>
<thead>
  <tr>
    <th>repo</th>
    <th>description</th>
    <th>version</th>
    <th>last push</th>
    <th>downloads</th>
    <th>binary</th>
  </tr>
</thead>
<tbody>
{% for repository in site.github.public_repositories %}{% if repository.fork == false %}
  <tr>
    <td> <a href = "{{repository.html_url}}">{{repository.name}}</a> </td>
    <td> {{repository.description}}</td>
    <td> <p class = "version-{{repository.name}}"/> </td>
    <td> <nobr class = "last-push-{{repository.name}}">{{repository.pushed_at  | date_to_long_string }}</nobr></td>
    <td> <p class = "download-count-{{repository.name}}"/> </td>
    <td>
      <span class = "release-links-{{repository.name}}"></span>
      <span class = "release-date-{{repository.name}}" ></span></td>
  </tr>
{% endif %}{% endfor %}
</tbody>
</table>


<script src="{{ site.url }}/scripts/moment.min.js"></script>
<script src="{{ site.url }}/scripts/GetLatestReleaseInfo.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    {% for repository in site.github.public_repositories %}{% if repository.fork == false %}
      GetRepo("https://api.github.com/repos/yalov/{{repository.name}}", "{{repository.name}}");
      GetLatestReleaseInfo("https://api.github.com/repos/yalov/{{repository.name}}/releases", "{{repository.name}}");
    {% endif %}{% endfor %}

     $('.post-date').html(ToLongString(new Date()))
     $('.post-date').fadeIn(0)
  });
</script>
 <!-- https://help.github.com/articles/repository-metadata-on-github-pages/  -->
