{% if page.comments == true %}
{%- assign language = page.language %}
{% unless language %}
  {%- assign language = 'en' %}
{%- endunless %}
 <!-- staticman comments -->
 <hr>
<section class="post__comments">
  <!-- Start static comments -->
  {%- if site.data.comments[page.slug] %}
  {%- assign comments = site.data.comments[page.slug] | sort %}
  <div id="comments" class="js-comments">
    <h4 class="tile__header">{{ site.data.ui-text[language].comments_title }}</h4>
    <hr>

    {%- for comment in comments %}
      {%- assign email   = comment[1].email %}
      {%- assign name    = comment[1].name %}
      {%- assign date    = comment[1].date %}
      {%- assign message = comment[1].message %}
      {%- assign index   = forloop.index %}

      <article id="comment{{ index }}" class="js-comment comment" itemprop="comment" itemscop itemtype="http://schema.org/Comment">
        <div class="comment__content-wrapper">
          <span class="comment__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            {% if index %}<a href="#comment{{ include.index }}" itemprop="url">#</a>{% else %} > {% endif %}
            <span itemprop="name">{{ name }}</span><span>,</span>
            {%- if date %}
            <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ date | date: "%F %R"}} UTC:</time>
            {%- endif %}
          </span>
          <div itemprop="text" class="comment__message">{{ message | markdownify }}</div>
        </div>
      </article>
      <hr>
    {%- endfor %}
  </div>
  {%- endif %}

  <!-- End static comments -->

  <!-- Start new comment form -->
  <form id="comment-form" class="post__comments-form js-form form" method="post" action="https://api.staticman.net/v2/entry/yalov/yalov.github.io/master/comments">
    <ul id="comment-ul">
      {%- unless comments %}
      <h4 id="comment-form-title">{{ site.data.ui-text[language].comment_form_title }}</h4>
      {% endunless %}
      <li>
        <input name="options[redirect]" type="hidden" value="{{site.url}}{{ page.url }}">
      </li>
      <li>
        <input type="text" id="comment-form-name" name="fields[name]"  placeholder="{{site.data.ui-text[language].comment_form_name}}" />
        <input type="text" id="comment-form-email" name="fields[email]" placeholder="{{site.data.ui-text[language].comment_form_email}}" />
      </li>
      <li>
        <textarea type="text" rows="3" id="comment-form-message" name="fields[message]" class="field-long field-textarea"
        placeholder="{{ site.data.ui-text[language].comment_form_comment }} ({{ site.data.ui-text[language].comment_form_md }})"></textarea>
      </li>
      <li class="hidden">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <!-- for folder -->
        <input type="hidden" name="fields[hidden]" />
      </li>
      <li>
        <input type="submit" id="comment-form-submit" value="{{ site.data.ui-text[language].comment_btn_submit }}" />
        <span><small>({{ site.data.ui-text[language].comment_btn_msg }})</small></span>
      </li>
    </ul>
  </form>
  <!-- End new comment form -->

</section>
{% endif %}
