 {% if page.comments == true %}
 <!-- staticman comments -->
 <hr>
<section class="post__comments">
  <!-- Start static comments -->
  {%- if site.data.comments[page.slug] %}
  {%- assign comments = site.data.comments[page.slug] | sort %}
  <div id="comments" class="js-comments">
    <h4 class="tile__header">{% if page.language == 'ru' %}Комментарии:{% else %}Comments:{% endif %}</h4>
    <hr align="left" width="50%">

    {%- for comment in comments %}
      {%- assign email   = comment[1].email %}
      {%- assign name    = comment[1].name %}
      {%- assign date    = comment[1].date %}
      {%- assign message = comment[1].message %}
      {%- assign index   = forloop.index %}

      <article id="comment{{ index }}" class="js-comment comment" itemprop="comment" itemscop itemtype="http://schema.org/Comment">
        <div class="comment__content-wrapper">
          <span class="comment__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            {% if index %}<a href="#comment{{ include.index }}" itemprop="url">#</a>{% else %} > {% endif %}
            <span itemprop="name">{{ name }}</span><span>,</span>
            {%- if date %}
            <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ date | date: "%F %R"}} UTC:</time>
            {%- endif %}
          </span>
          <div itemprop="text" class="comment__message">{{ message | markdownify }}</div>
        </div>
      </article>
      <hr align="left" width="50%">
    {%- endfor %}
  </div>
  {%- endif %}

  <!-- End static comments -->

  <!-- Start new comment form -->
  <form id="comment-form" class="post__comments-form js-form form" method="post" action="https://api.staticman.net/v2/entry/yalov/yalov.github.io/master/comments">
    <ul class="form-style-1">
      <h4 class="comment-form-title">{% if page.language == 'ru' %}Оставить комментарий:{%else%}Leave a Comment:{% endif%}</h4>
      <li>
        <input name="options[redirect]" type="hidden" value="{{site.url}}{{ page.url }}">
      </li>
      <li>
        <input type="text" id="comment-form-name" name="fields[name]" class="field-divided" placeholder={%if page.language == 'ru' %}"Имя"{%else%}"*Name"{% endif%} />&nbsp;
        <input type="text" id="comment-form-email" name="fields[email]" class="field-divided" placeholder={%if page.language == 'ru' %}"Email (не обязательно)"{%else%}"Email"{% endif%} />
      </li>
      <li>
        <textarea type="text" rows="3" id="comment-form-message" name="fields[message]" class="field-long field-textarea" placeholder={%if page.language == 'ru' %}"Комментарий (поддерживается Markdown-разметка)"{%else%}"*Comment (Markdown is supported)"{% endif%}></textarea>
      </li>
      <li class="hidden">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <!-- for folder -->
        <input type="hidden" name="fields[hidden]" />
      </li>
      <!-- Start comment form alert messaging -->
      <p class="hidden js-notice">
        <span class="js-notice-text"></span>
      </p>
      <!-- End comment form alert messaging -->
      <li>
        <input type="submit" id="comment-form-submit" value={%if page.language == 'ru' %}"Отправить"{%else%}"Submit"{% endif%} /> <span><small>{%if page.language == 'ru' %}(появится через минуту){%else%}(appears after a minute){% endif%}</small></span>
      </li>
    </ul>
  </form>
  <!-- End new comment form -->

</section>
{% endif %}
