{% capture full_url %}
{{page.url | replace:'/index.html','/' | prepend: site.url | prepend: site.baseurl }}
{% endcapture %}

{% capture post_first_image %}
{{ '/images/' | prepend: site.baseurl | prepend: site.url }}
{% endcapture %}

{% assign logo_name = '"Y-logo"' %}

{% capture wide_logo %}
{{'/favicon968x504.png' | prepend: site.baseurl | prepend: site.url }}
{% endcapture %}

{% capture site_url %}
{{ site.baseurl | prepend: site.url }}
{% endcapture %}

{% include all_posts.html %}

{% assign site_tags =  all_posts | map: 'tags' | join: ','  | split: ',' | uniq | sort | join: ','  %}

  <meta name="yandex-verification" content="{{site.yandex-verification}}" />

  <meta name="description" content="{{site.description | strip}}" />
  <link rel="canonical" href="{{full_url | strip}}" />
  <!-- <link rel="author" href="{{ site.author.name }}" /> -->

  {% comment %}
  {% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url | replace:'//','/' | replace:'//','/' | replace:'https:/','https://' }}">
  {% endif %}
  {% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url | replace:'//','/' | replace:'//','/' | replace:'https:/','https://' }}">
  {% endif %}
  {% endcomment %}

  <!-- Для Facebook, VK, OK.ru и Google+: -->
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:description" content="{{site.description| strip}}"/>
  <meta property="og:url" content="{{full_url | strip}}"/>
  <meta property="og:locale" content="ru_RU"/>
  <meta property="og:image" content="{{wide_logo | strip}}"/>
  <meta property="og:image:width" content="968"/>
  <meta property="og:image:height" content="504"/>
  <meta property="fb:app_id" content="{{ site.fb_app_id }}"/>

   <!-- Для Twitter и vk: -->
  <meta name="twitter:card"      content="summary_large_image"/>
  <meta name="twitter:title"     content="{{ site.title }}"/>
  <meta name="twitter:description" content="{{site.description| strip}}"/>
  <meta name="twitter:url"       content="{{full_url | strip}}"/>
  <meta name="twitter:domain"    content="{{site_url | strip}}"/>
  <meta name="twitter:site"      content="@{{ site.twitter_username }}"/>
  <meta name="twitter:creator"   content="@{{ site.twitter_username }}"/>
  <meta name="twitter:image:src" content="{{wide_logo | strip}}"/>


  <!-- ld-json-index -->
  <script type="application/ld+json">
  { "@context": "http://schema.org",
   "@type": "Blog",
   "keywords": "{{ site_tags | strip}}",
   "url": "{{full_url | strip}}",
   "mainEntityOfPage": "{{full_url | strip}}",
   "author": {
      "@type": "Person",
      "name": "{{site.author.name}}",
      "sameAs": [
          "{{site.github.owner_url}}"
      ]
    }
   }
  </script>

{% assign items = "" %}
{% for post in all_posts %}
  {% capture list_item %}
  {
    "@type": "ListItem",
    "position": {{forloop.index}},
    "item": {
      "@type": "BlogPosting",
      "url": "{{full_url | strip}}#{{post.url}}",
      "mainEntityOfPage": "{{full_url | strip}}#{{post.url}}",
      "headline": "{{ post.title }}",
      {% if post.images %}
        "image": {
          "@type":       "ImageObject",
          "image":       "{{ post_first_image | strip }}{{ post.images.first.name }}",
          "description": "{{ post.images.first.text }}",
          "name":        "{{ post.images.first.name }}",
          "contentUrl":  "{{ post_first_image | strip }}{{ post.images.first.name }}",
          "url":         "{{ post_first_image | strip }}{{ post.images.first.name }}",
          {% if post.images.first.width %}     "width":       "{{post.images.first.width}}",
          {% else %}               "width":       "auto",
          {% endif %}
          {% if post.images.first.height %}    "height":     "{{post.images.first.height}}"
          {% else %}               "height":     "auto"
          {% endif %}
        },
      {% else %}
      "image": {
        "@type":       "ImageObject",
        "image":       "{{ wide_logo | strip }}",
        "description": "logo of the personal blog",
        "name":        {{ logo_name }},
        "contentUrl":  "{{ wide_logo | strip}}",
        "url":         "{{ wide_logo | strip}}",
        "width":       "968 px",
        "height":      "504 px"
      },
      {% endif %}
      "author": {
        "@type": "Person",
        "name": "{{ site.author.name }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.author.name }}",
        "sameAs": [
          "{{site.github.owner_url}}"
        ],
        "logo": {
      		"@type": "ImageObject",
          "contentUrl": "{{ wide_logo | strip}}",
          "url":        "{{ wide_logo | strip}}",
          "width":      "968 px",
          "height":     "504 px"
        }
      },
      "datePublished"   : "{{ post.date | date_to_xmlschema }}",
      "dateModified"    : "{{ post.date | date_to_xmlschema }}"
    }
  }
  {% endcapture %}
  {% assign items = items | append: list_item | append: "|||" %}
{% endfor %}

{% assign items = items | split: "|||" | join: ',' %}

  <!-- ld-json-ItemList -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {{ items }}
    ]
  }
  </script>
