{% capture description %}
{% if page.summary %}
{{ page.summary | strip_html | strip_newlines }}
{% elsif page.excerpt %}
{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 140 }}
{% else %}
{{ site.description | strip_html | strip_newlines | strip | truncate: 140 }}
{% endif %}
{% endcapture %}

{% capture full_url %}
{{page.url | replace:'/index.html','/' | prepend: site.url | prepend: site.baseurl | replace:'//','/' | replace:'//','/' | replace:'https:/','https://' | replace:'http:/','http://'}}
{% endcapture %}

{% capture wide_logo %}
{{'/favicon968x504.png' | prepend: site.baseurl | prepend: site.url |replace:'//','/'|replace:'//','/' |replace:'https:/','https://' | replace:'http:/','http://' }}
{% endcapture %}

{% capture first_image %}
{{ '/images/' | prepend: site.baseurl | prepend: site.url |replace:'//','/'|replace:'//','/' |replace:'https:/','https://' | replace:'http:/','http://' }}{{ page.images.first.name }}
{% endcapture %}

{% capture site_url %}
{{ site.baseurl | prepend: site.url |replace:'//','/'|replace:'//','/' |replace:'https:/','https://' | replace:'http:/','http://' }}
{% endcapture %}



  <!-- Для Facebook, vk, OK.ru и Google+: -->
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{site.title}}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{description| strip}}">
  <meta property="og:url" content="{{full_url | strip}}">
  <meta property="og:locale" content="ru_RU">
  {% if page.images.first %}
  <meta property="og:image" content="{{ first_image | strip }}" />
  {% if page.images.first.width %}<meta property="og:image:width" content="{{ page.images.first.width }}" />
  {% else %}<meta property="og:image:width" content="auto" />{% endif %}
  {% if page.images.first.height %}<meta property="og:image:height" content="{{ page.images.first.height }}" />
  {% else %}<meta property="og:image:height" content="auto" />{% endif %}
  {% else %}
  <meta property="og:image" content="{{wide_logo | strip}}">
  <meta property="og:image:width" content="968">
  <meta property="og:image:height" content="504">
  {% endif %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}"/>
  
   <!-- Для Twitter и vk: -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{description| strip}}">
  <meta name="twitter:url" content="{{full_url | strip}}">
  <meta name="twitter:domain" content="{{site.url}}">
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
  {% if page.images.first %}
  <meta name="twitter:image:src" content="{{ first_image | strip }}">
  {% else %}
  <meta name="twitter:image:src" content="{{wide_logo | strip}}">
  {% endif %}

   <!-- Уже было: -->
  <meta name="description" content="{{description| strip}}" />
  <link rel="canonical" href="{{full_url | strip}}" />
  <link rel="author" href="{{ site.author.name }}" />
  <meta property="article:author" content="{{ site.author.fb }}" />
  {% if page.date %}
  <meta property="article:published_time" content="{{page.date | date_to_xmlschema}}" />
  {% endif %}

  <!-- ld-json (google+)-->
  <script type="application/ld+json">
  {
    "@context":      "http://schema.org",
    "@type":         "BlogPosting",
    "headline":      "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}",
  	{% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified":  "{{ page.date | date_to_xmlschema }}",
  	{% endif %}
    "description":   "{{description | strip}}",
    "@id":    "{{full_url | strip}}",
    "url":    "{{full_url | strip}}",
    "mainEntityOfPage": "{{full_url | strip}}",
  {% if page.category %}
    "genre":     "{{ page.categories | join: ', ' | escape}}",
  {% endif %}
  {% if page.tags %}
    "keywords":  "{{ page.tags | join: ', ' | escape }}",
  {% endif %}
  {% if page.images %}
    "image": {
      "@type":       "ImageObject",
      "image":       "{{ first_image | strip }}",
      "description": "{{ page.images.first.text }}",
      "name":        "{{ page.images.first.name }}",
      "contentUrl":  "{{ first_image | strip }}",
      "url":         "{{ first_image | strip }}",
      {% if page.images.first.width %}"width":       "{{page.images.first.width}} px",
      {% else %}"width":       "auto",{% endif %}
      {% if page.images.first.height %}"height":     "{{page.images.first.height}} px"
      {% else %}"height":     "auto"  {% endif %}
    },
  {% else %}
    "image": {
      "@type":       "ImageObject",
      "image":       "{{ wide_logo | strip}}",
      "description": "site logo",
      "name":        "y-logo",
      "contentUrl":  "{{ wide_logo | strip}}",
      "url":         "{{ wide_logo | strip}}",
      "width":       "968 px",
      "height":     "504 px"
    },
  {% endif %}

    "publisher": {
      "@type":     "Organization",
      "name":      "{{ site.author.name }}",
      "logo": {
        "@type":      "ImageObject",
        "contentUrl": "{{ wide_logo | strip }}",
        "url":        "{{ wide_logo | strip }}",
        "width":      "968 px",
        "height":     "504 px"
      }
    },
  {% if page.content %}
    "wordCount": "{{ page.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip | number_of_words}}",
  {% endif %}
    "author": {
      "@type": "Person",
      "name": "{{ site.author.name }}",
      "sameAs": [
          "{{site.github.owner_url}}"
      ]
    }
  }
  </script>
