<div class="sidebar">
    <div class="container">
        <!--sidebar-sticky-->
        <div class="sidebar-about">
            <h1>
        <a href="{% if site.baseurl == "" %} /{% endif %} {{site.baseurl}}">
          {{ site.title }}
        </a>
      </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <span class="sidebar-nav-item">Posts:</span>
            {% for p in site.tags.sidebar %}
                <a class="sidebar-nav-item{% if page.url  == p.url %} active{% endif %}" href="{{ p.url }}">{{p.title}}</a>
            {% endfor %}
        </nav>
    </div>



    <div class="container sidebar-sticky">
        <nav class="sidebar-nav">

            {% for p in site.pages %} {% if p.tag contains "sidebar_bottom" %}
            <a class="sidebar-nav-item{% if page.url  == p.url %} active{% endif %}" href="{{ p.url }}">{{p.title}}</a> {%endif%} {% endfor %}

            <a class="sidebar-nav-item" href="{{ site.github.owner_url }}">GitHub projects</a>
        </nav>
        <p>&copy; {{ site.time | date: '%Y' }}, <a href={{site.author.email}}>{{site.author.name}}</a>, All rights reserved.</p>
    </div>
</div>
