
/* This is for hover blue*/

.lightbox-image-link {
/*  color: #4ae;
  text-decoration: none;
   outline: 0;*/

  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 0.5rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out; }
  .lightbox-image-link:hover {
    background-color: #4ae;
    transition: none; }

.lightbox-image {
  border-radius: 4px; }


.lightbox-image-link-left {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 0.5rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out;
  float:left;
}
.lightbox-image-link-left:hover {
  background-color: #4ae;
  transition: none; }



  .lightbox-image-link-right {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 0.5rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out;
  float:right;
}
.lightbox-image-link-right:hover {
  background-color: #4ae;
  transition: none; }
